/*Primary Chart*/

/*Nested divs for responsiveness*/
.chart-wrapper {
    max-width: 800px;  /*Overwritten by the JS*/
    min-width: 304px;
    margin-bottom: 8px;
    background-color: #FAF7F7;
}
.chart-wrapper .inner-wrapper {
    position: relative;
    padding-bottom: 50%; /*Overwritten by the JS*/
    width: 100%;
}
.chart-wrapper .outer-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.chart-wrapper .inner-box {
    width: 100%;
    height: 100%;
}

.chart-wrapper text {
  font-family: sans-serif;
  font-size: 13px;
}

  /*.bullet {*/
  /*  font: 10px sans-serif;*/
  /*}*/

  /*.bullet .marker {*/
  /*  stroke: #000;*/
  /*  opacity: 0.3;*/
  /*  stroke-dasharray: 2, 2;*/
  /*  stroke-width: 2px;*/
  /*}*/

  /*.bullet .tick line {*/
  /*  stroke: #666;*/
  /*  stroke-width: .5px;*/
  /*}*/

  .pace-chart .target {
    fill: #306223;
  }

  .pace-chart .target.yellow {
    fill: #77652a;
  }

  .pace-chart .target.red {
    fill: #4e1f24;
  }

  .pace-chart .result.s0 {
    fill: #0d1864;
  }

  .pace-chart .result.s1 {
    fill: #1e2764;
  }

  .pace-chart .result.s2 {
    fill: #3d4875;
  }



  .pace-chart .title {
    font-size: 14px;
    font-weight: bold;
  }

  .pace-chart .subtitle {
    fill: #999;
  }

  .pace-chart .target.text {
    font-size: 14px;
    font-weight: bold;
    fill: white;
  }

  .pace-chart .result.text {
    font-size: 16px;
    font-weight: bold;
    fill: white;
  }

  /*.pace-chart .result.noshow {*/
  /*  display: none;*/
  /*}*/


.chart-wrapper div.tooltip {
    position: absolute;
    text-align: left;
    padding: 3px;
    font: 12px sans-serif;
    background: lightcyan;
    border: 0px;
    border-radius: 1px;
    pointer-events: none;
    opacity: 0.7;
}
